<h1>Welcome to Golden Rentals</h1>

{{#each model as |rental|}}
	<img src="{{rental.residentImage}}" alt="{{rental.residentName}}" style="width:300px;height:300px;">
	Resident Name: {{rental.residentName}}
	Owner Name: {{rental.ownerName}}
	Location: {{rental.location}}
	Type: {{rental.residentType}}
	Number of Bedrooms: {{rental.numberOfBedrooms}}
{{/each}}